# Build and release artifacts
build/
release/
auto/

# Ignore these folders as it isn't needed in release
src/wine/wine-sccm/
scripts/dev

# Logs
*.log

# Python
__pycache__/
*.pyc
.env

# Node.js
node_modules/
